# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
build/
.out/

# Turborepo cache
.turbo/

# Vite / Next.js caches
.next/
.cache/

# TypeScript build info and emitted artifacts
*.tsbuildinfo
apps/web/src/**/*.js
apps/web/src/**/*.js.map
apps/web/src/**/*.d.ts
apps/web/src/**/*.d.ts.map
apps/web/vite.config.js
apps/web/vite.config.d.ts

# Environment variables & secrets
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Database files
*.db
*.db-journal
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
